body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url('/assets/login.jpg'); /* Add your image URL here */
 
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}


form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.records {
  margin-top: 20px;
}

.record {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.record p {
  margin: 5px 0;
}

.invigilator-info {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
}


button[type="submit"],
button#searchButton {
  width: calc(100% - 20px);
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover,
button#searchButton:hover {
  background-color: #45a049;
}

hr {
  margin: 20px 0;
}

#searchSection {
  display: flex;
  align-items: center;
  place-items: cen;
}
button#searchButton{
  width: 70px;
}
#searchInput {
  flex: 1;
  margin-right: 10px;
}

#examRecords {
  /* Styles for existing exam records */
}



.exam-card{
background-color: red;
background-color: #ffffff;
border: 1px solid #e0e0e0;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
padding: 5px;
margin: 10px;
overflow: hidden;
word-wrap: break-word;
}
.exam-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
  transform: smoth;
}

#id {
  width: 100%; /* Make the button full width */
  background-color: #4c87af; /* Green background color */
  color: white; /* White text color */
  padding: 10px 0; /* Padding top and bottom */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

#id {
  background-color: #45a049; /* Darker green color on hover */
}
